<nav class="skip-to">
  <a href="#content">Skip to main content</a>
  {% comment %} TODO is there a better way of deciding whether to show the local nav skip link? {% endcomment %}
  {% if page.collection %}<a href="#nav">Skip to local navigation</a>{% endif %}
</nav>

<header role="banner">
  {% comment %}
    This is the (internal) site logo and site-nav.

    Logic: only show if it isn’t the homepage.
  {% endcomment %}
  {% if page.url != '/' %}
    <section class="page-header">
      <div class="wrapper">
        <div class="page-header__logo">
          <a href="{{ site.baseurl }}/" class="logo">
            <svg role="img" title="Content Guide logo" aria-labelledby="dc_logo-title">
              <title id="dc_logo-title" lang="en">Content Guide logo</title>
              <use xlink:href="{{ site.baseurl }}/assets/spritesheet.svg#dc_logo"/>
            </svg>
            <span>{{ site.title }}</span>
          </a>

          <div class="site-search">
            <form action="{{ site.baseurl }}/search/" role="search" method="get">
              <label for="site-search-text">Search</label>
              <div class="site-search-border">
                <input type="search" name="q" id="site-search-text" title="Search" class="search-input"/>
                <input class="submit" type="submit" value="Search"/>
              </div>
            </form>
          </div><!--site-search-->

          {% comment %}<span class="badge--default">Draft</span>{% endcomment %}
        </div>
      </div>
    </section>
  {% endif %}

  {% comment %}
    This is the homepage header hero.

    Logic: only show if this is the homepage.
  {% endcomment %}
  {% if page.url == '/' %}
    <section class="hero">
      <div class="wrapper">
        <div class="page-header__logo">
          <a href="{{ site.baseurl }}/" class="logo">
            <svg role="img" title="Content Guide logo" aria-labelledby="dc_logo-title">
              <title id="dc_logo-title" lang="en">Content Guide logo</title>
              <use xlink:href="{{ site.baseurl }}/assets/spritesheet.svg#dc_logo"/>
            </svg>

            <h1>{{ site.title }}</h1>
          </a>

          {% comment %}<span class="badge--default">Draft</span>{% endcomment %}

          <div class="site-search">
             <form action="{{ site.baseurl }}/search/" role="search" method="get">
               <label for="site-search-text">Search</label>
               <div class="site-search-border">
                 <input type="search" name="q" id="site-search-text" title="Search" class="search-input"/>
                 <input class="submit" type="submit" value="Search"/>
               </div>
             </form>
          </div><!--site-search-->
        </div>

        <div class="site-description">
          <p class="tagline">{{ site.description }}</p>
        </div>
      </div>
    </section>
  {% endif %}

  {% comment %}
    Only show if this if it isn’t the homepage.
  {% endcomment %}
  {% unless page.url == '/' %}
    <nav class="breadcrumbs" aria-label="breadcrumb">
      {% comment %}
        Our breadcrumb logic is very simple, and runs 2-tiers deep. It assumes the
        usage of Jekyll Collections: https://jekyllrb.com/docs/collections

        The capture is only done for brevity and future re-use.

        The if condition sets the page title to ‘Overview’ if it’s the index page
        for its page.parent.
      {% endcomment %}
      {% capture page_title_slugified %}{{ page.title | slugify }}{% endcapture %}

      <div class="wrapper">
        <ul>
          <li><a href="{{site.baseurl}}/">Home</a></li>

          <!-- {% for collection in site.collections %}
            {% if collection.label == page.collection %}
              <li><a href="{{ site.baseurl }}/{{ collection.label }}">{{ collection.title }}</a></li>
              {% break %}
            {% endif %}
          {% endfor %} -->

          <li>
            {% if page_title_slugified == page.parent %}
              Overview
            {% else %}
              {{ page.title }}
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  {% endunless %}
</header>
