---
layout: default
---

<main role="main" id="content" class="content-main homepage">

  <h2 class="subtitle--homepage">Get started</h2>

  <p class="longdesc">
    Read <a href="{{ site.baseurl }}/how-to-use-guide/">how to use this guide</a>. We also have a <a href="http://guides.service.gov.au/design-guide/">Design Guide</a> for building services.
  </p>
  <p class="longdesc">
   Learn how to <a href="{{ site.baseurl }}/content-structure/">structure content</a>, write in <a href="{{ site.baseurl }}/writing-style/">plain English</a> and create
    <a href="{{ site.baseurl }}/accessibility-inclusivity/"> accessible content</a> that includes everyone.
  <p>

  <h2>Guidance</h2>

  <nav aria-label="main navigation">

    <ul class="collection-listing">
      {% comment %}<li>
        <h3>
          <a href="{{ site.baseurl }}/how-to-use-guide/">
          How to use this guide
          </a>
        </h3>
        <p>About this Content Guide and how you can use it.</p>

      </li>{% endcomment %}

      <li>
        <h3>
          <a href="{{ site.baseurl }}/content-structure/">
          Content structure
          </a>
        </h3>
        <p>The basic building blocks for crafting good content.</p>
        <p>Includes hyperlinks, headings and bullet lists.</p>
      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/writing-style/">
          Writing style
          </a>
        </h3>
        <p>Guidance on writing plain English content that reflects a modern government voice.</p>
        <p>Includes readability, audience and voice.</p>
      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/accessibility-inclusivity/">
          Accessibility and inclusivity
          </a>
        </h3>
        <p>How to design content for everyone.</p>
        <p>Includes guidance on writing for First Australian audiences and people who speak languages other than English.</p>

      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/punctuation-grammar/">
          Punctuation and grammar
          </a>
        </h3>
        <p>How to punctuate and capitalise content for screens.</p>

      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/terms-phrases/">
          Terms and phrases
          </a>
        </h3>
        <p>Spellings of commonly used government and digital words and terms.</p>
        <p>Includes Australian Government words and common digital terms.</p>
      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/numbers-measurements/">
          Numbers and measurements
          </a>
        </h3>
        <p>Guidance for writing numbers on screens.</p>
      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/formatting/">
          Formatting
          </a>
        </h3>
        <p>How to use italic, bold and underline.</p>
      </li>

      <li>
        <h3>
          <a href="{{ site.baseurl }}/types-of-content/">
          Types of content
          </a>
        </h3>
        <p>How to create and use common kinds of content.</p>
        <p>Includes documents, fact sheets and video.</p>
      </li>

          <li>
        <h3>
          <a href="{{ site.baseurl }}/search-engines/">
          Writing for search engines (SEO)
          </a>
        </h3>
        <p>How to write content that will help search engines more easily find and rank your information.</p>
        <p>Includes guidance on keywords, headings, metadata and SEO tools.</p>
      </li>
    
    {% comment %}<li>
        <h3>
          <a href="/sources/">
          Sources
          </a>
        </h3>
        <p>How this guide was put together.</p>

      </li>{% endcomment %}
    </ul>
  </nav>

  {{ content }}

</main>
